.body{
    transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);

    background-image: url("../public/photo.png");
    width: 100vh;
    height: 100vw;
    position: absolute;  
    display: block;
    z-index: 0;
    background-size: cover;
    background-attachment: local;
    background-position: center;
    background-repeat: no-repeat;
}

.unity{
    
    
    
    width: 80vh;
    height: 80vw;
   
    
}
