.body{
    transform: rotate(90);
  
    right: 0%;
    background-image: url("../public/photo.png");
    width: 100vw;
    height: 100vh;
    position: absolute;  
    display: block;
    z-index: 0;
    background-size: cover;
    background-attachment: local;
    background-position: center;
    background-repeat: no-repeat;
}

.unity{
    
    
    
    display: block;
    margin-right: auto;
    width: 80%;
    position: relative;
    
   
    
}
