.header{
  background-color: rgb(36, 36, 36);
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 10;
}

.menuitems{
  display: inline;
  padding-right: clamp(0px, 7%, 50px);
  text-decoration: none;

}

.menulist{
  padding: 20px;
  border-color: rgb(0, 0, 0);
 
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.body{
  width: 100%;
  height: 100%;
  position: absolute;  
  display: block;
  z-index: 0;
  background-image: url("../public/photo.png");
  background-size: cover;
  background-attachment: local;
  background-position: center;
  background-repeat: no-repeat;
  overflow: auto; 
}

.form{
  position: relative;
  margin-bottom: 40%;
  top: 50%;
  height:  150px;

  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  text-align: center;
  
}

.scoreboard{

  display: block;
  background-color: white;
  position: absolute;
  z-index: 5;
  top: 61px;
  height: 60%;


}

.email{

  position: absolute;

  display: flex;
  align-items : center;
  top: 0%;
  text-align: center;


  z-index: 5;
  
  font-size:20px;

  background-color: rgb(82, 82, 82);
  height: 50px;
  width: 280px;
  color: #f7f7f7;
  padding-left: 10px ;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(226, 226, 226);
  border-radius: 10px;
  box-shadow: 0px 0px 15px 4px rgb(0, 0, 0) ;  
}

.formsubmit{
  position: absolute;

  align-items : center;
  text-align: center;
  top: 50%;

  width: 155px;

  z-index: 4;
  font-size: larger;
  background-color: rgb(82, 82, 82);
  height: 50px;
  
  color: #f7f7f7;
  padding-left: 10px ;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(226, 226, 226);
  border-radius: 10px;
  box-shadow: 0px 0px 15px 4px rgb(0, 0, 0) ;  
}

.link:link{
  font-size: 1em;
  font-weight: bold;
  color:rgb(76, 76, 77);
  
}

.link:visited{
  color:rgb(151, 151, 151);
  
}

.link:hover{
  color:rgb(107, 163, 187);
  
}

.link:active{
  
  color:rgb(107, 187, 131);
  
}

.footer{
  background-color: rgb(36, 36, 36);
  padding: 2rem;
  position: fixed;
  width: 100%;
  z-index: 10;
  bottom: 0px;
}